<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News Classification</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/components/main.js"></script>
  </head>
  <body ng-app="newsclassifier">
    <div ng-controller="MainController as ctrl">
      <div class="main-container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <a class="navbar-brand brand-title">News Classifier</a></div>
          <div class="container">
          </div>
        </nav>
        <div class="row main-sections">
          <div class="col-md-3 categories-pane">
            <h1>Categories</h4>
            <ul class="list-group">
              <li class="list-group-item category" ng-click="ctrl.GetArticles('Sports')">Sports</li>
              <li class="list-group-item category" ng-click="ctrl.GetArticles('Economy_business_finance')">Economy</li>
              <li class="list-group-item category" ng-click="ctrl.GetArticles('Science_technology')">Science</li>
              <li class="list-group-item category" ng-click="ctrl.GetArticles('Lifestyle')">Lifestyle</li>
            </ul>
          </div>
          <div class="col-md-9 cat-list-pane">
            <div class="list-group list-scroll">
              <a class="list-group-item cat" ng-repeat="element in ctrl.current_articles" ng-click="ctrl.DisplayArticle(element)">{[{ element["fields"]["article_title"] }]}</a>
            </div>
          </div>
          <div class="col-md-6 article-pane">
            <h1>
              {[{ctrl.current_article["fields"]["article_title"]}]}
            <h1>
            <p class="article-text">
              {[{ctrl.current_article["fields"]["article_content"]}]}
            <p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
