<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News Classification</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <a class="navbar-brand brand-title">News Classifier</a></div>
      <div class="container">
      </div>
    </nav>
    <p class="main-title"><i class="fa fa-newspaper-o splash"></i></p>
    <p class="main-desc">Read articles based on various topics such Sports, Business, Entertainment and more</p>
    <br /><br />
    <p class="btn-align"><a href="/index" class="btn btn-primary get-started">Get Started</a></p>
  </body>
</html>
